@import 'reset.css';
@import 'element.css';
html,
body {
  margin: 0;
  height: 100%;
}
#app {
  box-sizing: border-box;
  background: #0B1C36;
  padding: 8px;
  min-height: 100%;
  color: #fff;
}
#app .row {
  display: flex;
}
#app .card-box {
  display: flex;
  flex-wrap: wrap;
}
#app .card {
  height: 100%;
  background: #16325D;
  box-shadow: 0 2px 10px 0 rgba(3, 34, 57, 0.26);
}
#app .card .border {
  width: 100%;
  height: 2px;
}
#app .card .titleDiv {
  padding: 15px 10px 0;
  display: flex;
  height: 30px;
  line-height: 30px;
  justify-content: space-between;
  align-items: center;
}
#app .card .titleDiv .title {
  font-size: 20px;
}
#app .card .titleDiv .time {
  color: #7594C3;
  font-size: 16px;
}
#app .card .card-content {
  height: calc(100% - 30px);
}
#app .card .card-content .bigNum {
  font-size: 45px;
  padding: 20px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#app .card .card-content .bigNum img {
  margin: 6px;
  height: 20px;
}
#app .card .card-content .pieDiv {
  width: 100%;
  height: calc(100% - 90px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#app .card .card-content .pieDiv ul {
  width: 40%;
}
#app .card .card-content .pieDiv ul li {
  display: flex;
  align-items: center;
  line-height: 1.6;
}
#app .card .card-content .pieDiv ul li .rect {
  width: 8px;
  height: 8px;
}
#app .card .card-content .pieDiv ul li .name {
  color: #6891d0;
}
#app .card .card-content .pieDiv ul li .value {
  font-size: 15px;
}
#app .card .card-content .pieDiv ul li > span {
  margin: 0 5px;
  font-size: 13px;
}
#app .card.small {
  height: 60px;
}
#app .card.small .title-content {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 15px;
}
#app .card.small .title-content > img {
  margin: 0 5px;
}
#app .card.mid {
  height: 130px;
}
#app .card.big {
  height: 547px;
}
.amap-info-content.amap-info-outer {
  background-color: rgba(9, 19, 84, 0.8) !important;
}
.info-title {
  padding: 10px 0;
  line-height: 2;
  margin-bottom: 5px;
  padding-left: 39px;
  background: url("../images/map-icon-w.png") no-repeat 2px 30%;
  background-size: 35px;
  color: #fff;
}
.idx {
  margin-bottom: 5px;
  font-size: 12px;
  color: #66ffff;
  padding-left: 25px;
  background: url("../images/map-yuan.png") no-repeat 10px 50%;
  background-size: 5px;
}
.icm {
  margin-bottom: 5px;
  font-size: 12px;
  color: #a4f236;
  padding-left: 25px;
  background: url("../images/map-fk_g.png") no-repeat 10px 50%;
  background-size: 5px;
}
.mng {
  font-size: 11px;
  margin-bottom: 5px;
  padding: 3px 0;
  padding-left: 30px;
  background: no-repeat 10px 50%;
  color: #fff;
}
.manager {
  background-image: url("../images/map-xqyy.png");
}
.cellCEO {
  background-image: url("../images/map-CEOicon.png");
}
.el-radio__inner {
  color: #fff !important;
  border-color: #fff !important;
  background-color: #fff !important;
}
.el-radio__input.is-checked > .el-radio__inner {
  color: #fff !important;
  border-color: #fff !important;
  background-color: #fff !important;
}
.el-radio__label {
  color: #fff;
}
.el-radio__inner::after {
  background-color: #f95507;
  width: 6px;
  height: 6px;
  left: 50%;
  top: 50%;
}
